{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    <p>
      Попробуйте еще раз.
    </p>
  {% else %}
    <p>Если у вас нет аккаунта <a href="{% url "register" %}">зарегистрируйтесь</a>.</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
  </div>
{% endblock %}